.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-1-square:hover{
    background-color: red;
    transition: 3s;
  }

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-2-square:active {
    width: 100%;
    transition: 3s;
  }

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover {
    border-radius: 50%;
    transition: 3s;
  }

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-4-square:hover {
    opacity: 0;
    transition: 3s;
  }

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    transform: scale(2);
    transition: 3s;
  }

  .ex-5-square:active {
    transform: scale(.3);
    transition: 3s;
  }

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale();
    transition: 3s;
  }

  .ex-7-img:hover {
    filter: grayscale() invert();
    transition: 3s;
  }

  .ex-8-img:hover {
    filter: grayscale() invert();
    border-radius: 20px;
    transition: 3s;
  }

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img:hover {
    filter: grayscale() invert();
    border-radius: 20px;
    transform: scale(1.5);
    transition: 2s;
  }

.ex-10-icon {
    font-size: 60px;
    animation: giro 3s linear infinite;
}

@keyframes giro {
  0% {
    transform: rotate(1turn);
  }
}

.ex-11-icon {
    font-size: 60px;
    animation: giro2 3s linear infinite;
}

@keyframes giro2 {
  0% {
    transform: rotate();
  }
  75% {
    transform: rotate(270deg);
  }
}

.ex-12-button, .ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

/* esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
animation: top1 2s linear infinite;
}

@keyframes top1 {
0% {
  left: 20%;
}
50% {
   left: calc(100% - 60px);
}
100% {
  left: 20%;
}

}
.ex-12-button:hover .ex-12-bottom-white {
animation: bot1 2s linear infinite;
}
@keyframes bot1 {
0% {
  right: 20%;
}
50% {
   right: calc(100% - 60px);
}
100% {
  right: 20%;
}

}

/* esercizio 13 */

.ex-13-button:hover .ex-13-top-white {
  animation: turntop 2s linear;
}

@keyframes turntop {
0% {
  top: -10px;
  left: 10%;
}
25% {
  top: -10px;
  left: calc(100% - 30px);
}
75% {
  top: 100%;
  left: 0;
}
100% {
  top: -10px;
  left: 10%;
}

}
.ex-13-button:hover .ex-13-bottom-white {
  animation: turnbot 2s linear;
}

@keyframes turnbot {
0% {
  bottom: -10px;
  right: 10%;
}
25% {
  bottom: -10px;
  right: calc(100% - 30px);
}
75% {
  bottom: 100%;
  right: 0;
}
100% {
  bottom: -10px;
  right: 10%;
}
}